[submodule "vim/.vim/pack/tje/start/vim-gitgutter"]
	path = vim/.vim/pack/tje/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/.vim/pack/tje/start/nerdtree"]
	path = vim/.vim/pack/tje/opt/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/pack/tje/start/vim-autoclose"]
	path = vim/.vim/pack/tje/start/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "vim/.vim/pack/tje/start/wordCount.vim"]
	path = vim/.vim/pack/tje/start/wordCount.vim
	url = git@github.com:ChesleyTan/wordCount.vim.git
[submodule "bash/.git-prompt"]
	path = bash/.git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "vim/.vim/pack/tje/start/vim-go"]
	path = vim/.vim/pack/tje/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/.vim/pack/tje/start/vim-ledger"]
	path = vim/.vim/pack/tje/start/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "vim/.vim/pack/tje/start/vim-surround"]
	path = vim/.vim/pack/tje/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/tje/start/hardmode"]
	path = vim/.vim/pack/tje/start/hardmode
	url = https://github.com/wikitopian/hardmode.git
[submodule "vim/.vim/pack/tje/start/vimtex"]
	path = vim/.vim/pack/tje/start/vimtex
	url = git@github.com:lervag/vimtex.git
