XTerm*faceName: Terminus
UXTerm*faceName: Unifont

XTerm*faceSize: 10
UXTerm*faceSize: 10

XTerm*allowBoldFont: false
UXTerm*allowBoldFont: false
XTerm*boldMode: false
UXTerm*boldMode: false

XTerm*colorBDMode: true
UXTerm*colorBDMode: true

*VT100*translations: #override Shift <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY)
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!! COLORS (serious business) !!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



!! "black"
!*color0:  #4d4d4d
!*color8:  #5a5a5a
!! red
!*color1:  #C70031
!*color9:  #F05178
!! green
!*color2:  #29CF13
!*color10: #6CE05C
!! yellow
!*color3:  #D8E30E
!*color11: #F3F79E
!! blue
!*color4:  #3449D1
!*color12: #97A4F7
!! magenta
!*color5:  #8400FF
!*color13: #C495F0
!! cyan
!*color6:  #0798AB
!*color14: #68F2E0
!! "white"
!*color7:  #E2D1E3
!*color15: #FFFFFF

!!*background: #151515
!!*foreground: #aeaeae
!*background: black
!*foreground: white


*background:  rgb:00/00/00
*foreground:  rgb:a8/a8/a8

! Black
*color0:      rgb:00/00/00
*color8:      rgb:54/50/54

! Red
*color1:      rgb:a8/00/00
*color9:      rgb:f8/54/50

! Green
*color2:      rgb:00/a8/00
*color10:     rgb:50/fc/50

! Yellow
*color3:      rgb:a8/54/00
*color11:     rgb:f8/fc/50

! Blue
*color4:      rgb:00/00/a8
*color12:     rgb:50/54/f8

! Magneta
*color5:      rgb:a8/00/a8
*color13:     rgb:f8/54/f8

! Cyan
*color6:      rgb:00/a8/a8
*color14:     rgb:50/fc/f8

! White
*color7:      rgb:a8/a8/a8
*color15:     rgb:f8/fc/f8
